#
# trio-vent
#
[Unit]
Description=trio-vent 3 Motor Controller
After=network-online.target

[Service]
Type=notify
WatchdogSec=15
ExecStart=python /root/trio-vent.py
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
